
*.xml
manifest.mf
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/project.properties
/build/
src/resources/Alkatra-VariableFont_wght.ttf
src/words/words.txt
src/img/gameLoss.jpg
src/img/begin.jpg
src/img/phase1.jpg
src/img/gameWin.jpg
src/img/phase2.jpg
src/img/phase3.jpg
src/img/phase4.jpg
src/img/phase5.jpg
src/img/phase6.jpg
